<div class="row mt-4 footer-print only-print">
    <div class="col-12 text-center">
        <hr>
        <p class="text-muted small">
            Este comprobante fue generado electrónicamente.
            Para consultas, contactar a estudio.cpnferreyra@gmail.com
        </p>
    </div>
</div>