<div class="only-print container invoice-header ">
    <div class="row">
        <div class="row">
            <div class="col-md-10">
                <h5><strong>CPN Maria Paula Ferreyra</strong></h5>
                <div class="row">
                    <div class="col-md-4 mt-3">
                        <p class="mb-1">Tucuman 360</p>
                        <p class="mb-1">(3050) - Calchaqui</p>
                    </div>
                    <div class="col-md-7 mt-3">
                        <p class="mb-1"><strong>Tel:</strong> 3483 41-5477</p>
                        <p class="mb-0"><strong>Email:</strong> estudio.cpnferreyra@gmail.com</p>
                    </div>
                </div>
            </div>
            <div class="col-md-1 company-info">
                <img src="~/logo.png" alt="Logo" class="mb-3" style="max-height: 80px;">
            </div>
        </div>
    </div>
</div>
<hr class="only-print header-row" />