@model IEnumerable<Client>
@{
    ViewData["Title"] = "Clientes";
    Layout = "_Layout";
    var sortOrder = Context.Request.Query["sortOrder"].ToString();
    Func<string, string> sortLink = col =>
        Url.Action("Index", new { sortOrder = sortOrder == col ? col + "_desc" : col });
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateClientModal">
    Nuevo Cliente
</button>
<div class="modal fade" id="CreateClientModal" tabindex="-1" aria-labelledby="CreateClientModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreateClientModalLabel">Nuevo Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
                @await Html.PartialAsync("_Create", new Client())
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editClientModal" tabindex="-1" aria-labelledby="editClientModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editClientModalLabel">Editar Cliente</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">
            </div>
        </div>
    </div>
</div>

<div class="table-responsive" id="clientTableContainer">
    @await Html.PartialAsync("_ClientTable", Model)
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $(function () {
            function bindSortLinks() {
                $('.sort-link').off('click').on('click', function (e) {
                    e.preventDefault();
                    var url = $(this).attr('href');
                    $.get(url, function (data) {
                        $('#clientTypeTableContainer').html(data);
                        bindSortLinks();
                    });
                });
            }

            bindSortLinks();

            $('#createClientForm').submit(function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#CreateClientModal').modal('hide');
                        reloadTable();
                    },
                    error: function () {
                        alert('Error al crear el cliente.');
                    }
                });
            });
            $('#editClientModal').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget);
                var id = button.data('id');
                var url = '@Url.Action("Edit", "Client")/' + id;
                $.get(url, function (data) {
                    $('#editClientModal .modal-body').html(data);
                });
            });
            $('#editClientModal').on('submit', '#editClientForm', function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    type: 'POST',
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#editClientModal').modal('hide');
                        reloadTable();
                    },
                    error: function () {
                        alert('Error al editar el cliente.');
                    }
                });
            });
            window.showDeleteConfirmation = function (id) {
                if (confirm('¿Estás seguro de que deseas eliminar este cliente?')) {
                    $.ajax({
                    type: 'POST',
                    url: $('#deleteForm-' + id).attr('action'),
                    data: $('#deleteForm-' + id).serialize(),
                    success: function () {
                        reloadTable();
                    },
                    error: function () {
                        alert('Error al eliminar el tipo de cliente.');
                    }
                });
                }
            };
            function reloadTable() {
                $.get('@Url.Action("Index", "Client")', function (data) {
                    $('#clientTableContainer').html(data);
                    bindSortLinks();
                });
            }

            $('#clientTableContainer').on('click', '.sort-link', function (e) {
                e.preventDefault();
                var url = $(this).attr('href');
                $.get(url, function (data) {
                    $('#clientTableContainer').html(data);
                    bindSortLinks();
                });
            });
        });
    </script>
}