@model CurrentAccounts

<form method="post"  id="createCurrentAccountForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="ClientId" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description"
               class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date"
               type="date"
               class="form-control"
               value="@DateTime.Today.ToString("yyyy-MM-dd")"
               />
    </div>
    <div class="modal-footer form-group">
        <input type="submit" id="newAccount" value="Ingresar" class="btn btn-primary" />
    </div>
</form>