@model Movements
@{
    
}

<form asp-action="Create" asp-controller="Movements" id="createMovementForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <input type="hidden" asp-for="CurrentAccountId" />
        <input type="hidden" asp-for="ModifiedByUserId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value ?? 1" />
        <input type="hidden" asp-for="CreatedByUserId" value="@User.FindFirst(System.Security.Claims.ClaimTypes.NameIdentifier)?.Value ?? 1" />
    </div>
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" />
    </div>
    <div class="accept-policy form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date"
               type="date"
               class="form-control"
               value="@DateTime.Now.ToString("yyyy-MM-dd")" />
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <input asp-for="Description" class="form-control" />
    </div>
    <div class="modal-footer form-group">
        <input type="submit" value="Ingresar" class="btn btn-primary" />
    </div>
</form>
